/* ========== General Elements ========== */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');



* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Montserrat", helvetica, sans-serif;
  background-color: #A9A9A9
}

ul {
  list-style: none;

}

/* ========== Specific Elements ========== */

.timeline-list {
  display: inline-block;
  position: relative;
}

/* For normal screens, move every other timeline-event to the left side of the line */
@media (min-width: 768px) {
  .timeline-event:nth-child(4n+2) {
    left: 10%;
  }
}

/* Create the middle line */
.timeline-list::before {
  content: "";
  border-left: 5px solid #24608A;
  height: 100%;
  position: absolute;
  left: 50%;
}

/* If on a small screen, move the line to the left side */
@media (max-width: 768px) {
  .timeline-list::before {
    left: 5%;
  }
}

.pencil {
  position: absolute;
  left: 49.25%;
  background-color: #256288;
  border-radius: 25px;
  padding: 5px;
}

.octicon {
  color: white;
  display: inline-block;
  width: 75%;
}

@media (max-width: 768px) {
  .pencil {
    left: 3.5%;
  }
}

.timeline-event {
  background-color: white;
  max-width: 35%;
  position: relative;
  left: 52%;
  height: 100%;
}

/* .has-picture {
  position: relative;
}

.has-picture>.date {
  position: absolute;
  top: 0;
  right: 0;
}

.has-picture>h1 {
  position: absolute;
  top: 15%;
  left: 5%;
  color: #DC5C60;
} */


/* One small screens, adjust the position of the timeline-event to coordinate with the line that is also moved */
@media (max-width: 768px) {
  .timeline-event {
    left: 10%;
    min-width: 270px;
    /* max-width: 75%; */
  }
}

/* Create the arrow pointing left */
.timeline-event::after {
  content: "";
  height: 0;
  width: 0;

  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-right: solid 10px white;

  position: absolute;
  top: 4%;
  right: 100%;
}

/* On big screens with some events on left, make the arrow point right */
@media (min-width: 768px) {
  .timeline-event:nth-child(even)::after {
    content: "";
    height: 0;
    width: 0;

    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-right: none;
    border-left: solid 10px white;

    position: absolute;
    top: 4%;
    left: 100%;
  }
}


.date {
  background-color: #EC515C;
  color: white;
  display: inline-block;
  float: right;
  padding: 5px;
}

/* Move the date to the left side on every other event */
.timeline-event:nth-child(even) .date {
  float: left;
}

.timeline-event>h1 {
  font-family: "Roboto+Slab", helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Move the title to the right for even events */
.timeline-event:nth-child(even) h1 {
  text-align: right;
}

.timeline-event>p {
  line-height: 120%;
  padding: 10px;
}

.event-button {
  background-color: #256288;
  color: white;
  margin: 8px;
  padding: 6px 20px;
}
